Code/ProfilesSearchAPI/ProfilesSearchAPI/XSD/SearchOptions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SearchOptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MatchOptions">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SearchString">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="ExactMatch" type="xs:boolean" use="optional" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="SearchFiltersList">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="SearchFilter">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="Property" type="xs:string" use="optional" />
                            <xs:attribute name="MatchType" type="xs:string" use="optional" />
                            <xs:attribute name="IsExclude" type="xs:unsignedByte" use="optional" />
                            <xs:attribute name="Property2" type="xs:string" use="optional" />
                            <xs:attribute name="Property3" type="xs:string" use="optional" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>              
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="OutputOptions">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Offset" type="xs:unsignedShort" />
              <xs:element name="Limit" type="xs:unsignedShort" />
              <xs:element name="SortByList">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="SortBy">
                      <xs:complexType>
                        <xs:attribute name="IsDesc" type="xs:unsignedByte" use="optional" />
                        <xs:attribute name="Property" type="xs:string" use="optional" />
                        <xs:attribute name="Property2" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>